//Color Variables
$primary	    : #5b32b4;
$primary-color  : #fb397d;
// #1d0092

$title-color	: #23282D;
$text-color		: #767676;

$white			: white;
$offwhite		: #ddd;
$black			: #000000;


$title-color: rgba(0,0,0,0.9);
$font-color: #726a84;;

